.settings__form-field{
    margin-bottom: 1rem;
}

.settings__form-field > legend, .settings__form-field > label{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.settings__continent-list{
    display: grid;
    grid-template-areas: '. . . .';
    gap: 0.4rem;
}

.settings__continent-item > input{
    margin-right: 4px;
}